<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SQUARE</title>
  <link rel="icon" href="favicon.ico">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css%22%3E
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/0a79164bba.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><i class="far fa-square"></i> SQUARE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="resolvedBugs"><a href="../resolvedBugs">RESOLVED BUGS</a></li>
          <li id="raisedBugs"><a href="../raisedBugs">RAISED BUGS</a></li>
          <li id="addBug"><a href="../bug">REPORT BUG</a></li>
          <li id="profile"><a href="../home">PROFILE <i class="fas fa-user"></i></a></li>
        </ul>
    </div>
  </nav>

</body>